<h1>Add a new article</h1>

<form action="/custom_add" method="post">
  <input type="text" id="title" name="title" placeholder="title">
  <input type="textarea" id="body" name="body" placeholder="body">
  <input type="submit" value="Submit">
</form>