<h1>Update Article</h1>

<form action="/custom_update/<%=@article.id %>", method="post">
	<input type="text" name="title", id="title", placeholder="title">
	<input type="textarea" name="body", id="body", placeholder="body">
	<input type="submit" name="Submit">
</form>